#gameboard {
	width: 100%;
	height: 90%;
/*	width: 1410px;
	height: 614px;
*/
	background-color: lightblue;
}

.pickerTile {
	width: 100px;
	height: 100px;
	// background-color: green;
}

/*
.basic_hex {
	fill: green;
	stroke: black;
}

.blank_hex {
	fill: none;
	stroke: none;
}

.lake_hex {
	fill: blue;
	stroke: none;
}

.mountain_hex {
	fill: grey;
	stroke: black;
}

.town {
	fill: white;
	stroke: black;
}

.city {
	stroke-width: 2;
	stroke: black;
}

.city_red {
	fill: red;
}
*/

#tileRotater {
	position: absolute;
	top: 0;
	left: 0;
	width: 100px;
	height: 100px;
	// background-color: green;
	display:none;
}


#tileRotater span {
	position:absolute;
}
